<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change PassWord</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap" rel="stylesheet">
    <link href="/static/files/style/styles2.css" rel="stylesheet">
</head>
<body>
    <div class="text">
    <h1>گذرواژه خود را تغییر دهید</h1>
    <div class="column">
        <div class="box">
            {% if form.password.errors %}
                <ul class="errors">
                {% for error in form.password.errors %}
                    <li class="erorr">{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            <form action="/password/reset" method="post">
                {{form.hidden_tag()}}
                {{form.password}}
                {{form.confirm}}
                {{form.submit}}
            </form>
        </div>
    </div>
    </div>
</body>

</html>